@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  background: linear-gradient(268deg, #327CFE -439.93%, #FFF 81.8%) !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #4a5b7d;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4fd1c5;
}


.custom-toast-success {
  background: linear-gradient(135deg, #1e3c72, #2a5298) !important;
  color: #f8fafc !important;
  border-radius: 12px !important;
  padding: 16px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) !important;
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 15px !important;
  letter-spacing: 0.5px !important;
  border-left: 5px solid #38bdf8 !important;
}

.custom-toast-error {
  background: linear-gradient(135deg, #8B0000, #B22222) !important;
  color: #fff !important;
  border-radius: 12px !important;
  padding: 16px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25) !important;
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 15px !important;
  letter-spacing: 0.5px !important;
  border-left: 5px solid #f87171 !important;
}


.ant-input,
.ant-input-affix-wrapper {
  background-color: #141D39 !important;
  color: white !important;
}

.responsive-base-width {
  width: 100% !important;
  max-width: 1280px !important;
  margin-inline: auto !important;
}

.ant-dropdown-menu {
  background-color: #141D39 !important;
  border: none !important;
  padding: 0 !important;
}

.ant-input::placeholder,
.ant-select-in-form-item .ant-select-selector .ant-select-selection-item {
  color: gray !important;
}

.ant-input::placeholder {
  color: gray !important;
}

.ant-dropdown-menu-item,
.ant-select-selector {
  background-color: white !important;
}


.ant-dropdown-menu-item:hover {
  background-color: white !important;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}


.animate-marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 100s linear infinite;
}


/* border color for subscription */

